.settings
target/
**/logs/
bundleconfig-local/etc/oxm
src/main/aai_schema
bundleconfig-local/etc/logback.xml
/.pydevproject
/test_csvWriter.csv
/bin/
**/.idea/
*/.idea
*.iml
**/dbedgerules/**
**/oxm/**
**/query/*.json
